body {
    margin: 0;
    padding: 0;
}

header {
    background-color: rgba(255, 255, 255, 0);
}

form {
    margin: auto;
}

.box {
    width: 300px;
    padding: 30px;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%,50%);
    background: rgba(255, 255, 255, 0.096);
    text-align: center;
}

.box h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 700;
}

.box input[type="text"],
.box input[type="password"] 
{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3px solid bisque;
    padding: 14px 10px;
    width: 220px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition:0.25px;
    transition:0.04s;
}

.box input[type="text"]:focus,
.box input[type="password"]:focus {
    width: 270px;
    border-color:rgb(177, 96, 64);
}

.box input[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    padding: 14px 10px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition:0.04s;
    cursor:pointer;
}

.box input[type="submit"]:hover{
    background:blanchedalmond;
}