
/*
 * Designing form for contact page
 */
form {
    border-radius: 5px;
    width: auto;
    padding-bottom: 120px;
    margin-right: auto;
    padding-top: 25px;
    display: block;  
    line-height: normal;                 
}


ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* ------------- Styling Submit button ------------- */
input[type=submit] {
    width: 50%;
    background-color: #55b5e5;
    opacity: 0.75;
    color: white;
    border-radius: 4px;
    cursor: pointer;
  }

input[type=submit]:hover{
    opacity: 1.0
}
/* ------------------------------------------------ */

/* ----------- Styling Form Componenets ----------- */
label {
    font-size: 20px;
    font-weight: 300;
    letter-spacing: .015em;
    color: #6c6c6c;
    display: block;
    width: 90px;
}

input,
textarea {
    height: 40px;
    width: 600px;
    box-sizing: border-box;
    display:block;
}

input {
    margin-left: 30px;
  }

input:focus,
textarea:focus {
    border-color: #000;
}

legend {
    padding: 5px 10px;
}

span {
    color: #a3a3a3;
    font-family: "Optima";
    font-size: 15px;
    font-weight: 300;
}
/* ------------------------------------------------ */

/*
 * Styling classes
 */
.contact-fieldset {
    border: 0;
    display: block;
    margin: 1.0em auto;
    width: fit-content;
}

/* 
 * Media Queries.
 */
 @media (max-width: 1056px) {
    input, textarea {
      margin: 0px;
    }
  }