

/* 
 * Styling Elements.
 */

button {
    transition: 0.3s;
}
legend {
    font-size: 30px;
}

fieldset {
    border: 3px rgb(0, 0, 0) solid;
    width: 30%;
    margin: 0px;
}

.menu-item:hover {
    text-shadow: rgb(168, 160, 143) 1px 0 10px;
    background:  rgba(231, 217, 217, 0.548);
}

/* 
 * Styling classes
 */
.div-section {
  padding: 250px;
  padding-top: 50px;
  padding-bottom: 150px;
}

.menu-item {
    padding: 10px;
    border: 10px;
    font-family: Optima, sans-serif;
    transition: 0.3s;
}

/* ---------Fits image and fieldset on div --------*/
.split-menu {
    padding: 60px;
    padding-bottom: 100px;
    background-color: white;
}

.split-image {
    height: 625px;
    width: 55%;
    object-fit: cover;
    margin: 20px 50px 0 ;
    float: left;            /* Splits image to be on the left */
    position: relative;
    padding-bottom: 10%;
    object-position: 0% 75%;
}

.center-fieldset {
    margin: 0px 0px 40px;   /* Fieldset right */
}
/*-------------Flex Box for menu items------------- */

div.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: flex-end;
}

/* .drink-image-container{
  position: relative;
  width: 100%;
  max-width: 475px;
} */


.location-container {
    position: relative;
    width: 100%;

}
.location-container img {
    position: relative;
}
.location-container .left-button{
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(111%, 750%);
  background-color: black;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}
.location-container .right-button{
    position: absolute;
    top: 0%;
    right: 40%;
    transform: translate(-35%, 750%);
    /* -ms-transform: translate(-50%, -50%); */
    background-color: black;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }
  .location-label{
      width:  225px;
      position: absolute;
      text-align: center;
      background-color: black;
      color: white;
      left: 15%;
      transform: translate(-50.5%, 698%);
      font-size: 20px;
 
  }

/* ------------------------------------------------ */

.section-page {
    font-family: Optima, sans-serif;
    text-align: center;
    font-size: 30px;
  
    padding: 40px;
    border-bottom: 1px solid #000; 
    line-height: 0.1em;
  }

  .yelp {
      padding-top: 40px;
  }

/* 
 * Media Queries.
 */


 @media (max-width: 1360px) {

    .split-menu {
        display: flex;
        flex-direction: column;

    }

    .split-image {
        margin: auto;
        height: 400px;
        width: 80%;
        object-position: 0% 85%;

    }

    .menu-item {
        padding-left: 40px;
        border: 10px;
        font-size: 25px;
    }

    .center-fieldset {
        margin: auto;
        width: 80%;
    }

    .yelp {
        text-align: center;
    }

    .div-section {
        display: flex; /* or inline-flex */
        flex-direction: column;
        padding: 150px;

    }

    .chang {
        margin: auto;
        scale: 30%;
        width: 100%;
        height: 300px;
        object-position: 0 18%;
    }

}